html,
body {
  height: 100vh;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
.ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  height: auto;
  width: auto;
  border: none;
  background: none;
}

.post_main {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    line-height: 2;
  }
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
